body {
    font-size : 1.0em;
    background-color : rgb(0,0,0);
    padding : 1%;
    padding-top : 10px;
}

#content{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;

    border : 1px solid rgb(118,170,36);
    background-color : rgb(227,255,159);
    background-position:30px 30px;
    background-image : url(/ressources/style/logo_150.png);
    background-repeat : no-repeat;
    
}

#lang_menu {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;

    float : right;
    border : 1px solid rgb(108,160,26);
    background-color : rgb(218,255,109);
    padding : 10px;
    margin : 10px;
}

#lang_menu ul{

    list-style-image: url("/ressources/style/favicon.png");
    font-size : 0.8em;
    margin : 0px;
}

#menu {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;
    float : left;
    border : 1px solid rgb(108,160,26);
    background-color : rgb(218,255,109);
    padding : 10px;
    margin : 15px;
    margin-top : 100px;
    margin-right : 25px;

}

#menu ul{

    list-style-image: url("/ressources/style/favicon.png");
    font-size : 1.0em;

}

a{
    color : rgb(0,30,0);
    font-family:  verdena, serif;
}

a:visited{
    color : rgb(68,120,40);
    font-family:  verdena, serif;
}



.active {

font-weight : bold;
font-style: italic;

}


#head {
margin : 40px;
font-style: italic;
margin-left  : 250px;

}



#head h1 {

margin-left  : 100px;
margin-right : 100px;
text-align : left;
font-size : 1.5em;
font-family: verdena, serif;

}

#corps {
    margin : 5%;
    text-align : justify;
    overflow : hidden;
}

#corps h1 {
    margin : 30px;
/*  margin-bottom : 200px*/
    text-align : left;
    font-size : 1.3em;
    font-family:  verdena, serif;
}

#corps h2 {
    margin : 10px;
/*  margin-bottom : 200px*/
    text-align : left;
    font-size : 1.1em;
    font-family:  verdena, serif;
}

#corps h3 {
    margin : 0px;
/*  margin-bottom : 200px*/
    text-align : left;
    font-size : 1.0em;
    font-family:  verdena, serif;
}

.img_left {
    float: right;
    margin-left : 15px;
}


#bottom {
    clear : both;
    font-size : 0.7em;
    font-style: italic;
    text-align : center;
    font-family: "Lucinda Callygraphy", verdena, serif;

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;

    border : 1px solid rgb(108,160,26);
    background-color : rgb(218,255,109);
    padding : 10px;
    margin : 15px;


}


.bold {
    font-weight : bold;
}



.important {

    border : 1px solid rgb(160,108,26);
    background-color : rgb(255,218,109);
    padding : 10px;
    margin : 15px;


}


