body {
    font-size : 1.0em;
    background-color : rgb(0,0,0);
    padding : 1%;
    padding-top : 10px;
    font-family: sans
}

#content{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;

    border : 1px solid rgb(118,170,36);
    background-color : rgb(227,255,159);
    background-position:30px 30px;
    background-image : url(/ressources/style/logo_150.png);
    background-repeat : no-repeat;
    
}

#login_panel {
    -moz-box-shadow:0 0 15px rgb(118,170,36);
    -webkit-box-shadow:0 0 15px rgb(118,170,36);
     -moz-border-radius:10px;
    -webkit-border-radius:10px;
    
    font-size : 0.8em;

    color : rgb(118,170,36);
    float : left;
    padding : 5px;
    margin : 10px;
}

#lang_menu {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;

    

    float : right;
    border : 1px solid rgb(108,160,26);
    background-color : rgb(218,255,109);
    padding : 10px;
    margin : 10px;
}

ul {
    list-style-image: url("/ressources/style/favicon.png");
}

#lang_menu ul{

    
    font-size : 0.8em;
    margin : 0px;
}

#menu {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;
    float : left;
    border : 1px solid rgb(108,160,26);
    background-color : rgb(218,255,109);
    padding : 10px;
    margin : 15px;
    margin-top : 100px;
    margin-right : 25px;

}

#menu ul{
    font-size : 1.0em;
}

a{
    color : rgb(0,30,0);
}

a:visited{
    color : rgb(68,120,40);
}



.active {

font-weight : bold;
font-style: italic;

}


#head {
margin : 40px;
font-style: italic;
margin-left  : 250px;

}



#head h1 {

margin-left  : 100px;
margin-right : 100px;
text-align : left;
font-size : 1.5em;
font-family: verdena, serif;

}

#corps {
    margin : 5%;
    text-align : justify;
    overflow : hidden;
}

#corps h1 {
    margin : 30px;
/*  margin-bottom : 200px*/
    text-align : left;
    font-size : 1.3em;
    font-family:  verdena, serif;
}

#corps h2 {
    margin : 10px;
/*  margin-bottom : 200px*/
    text-align : left;
    font-size : 1.1em;
    font-family:  verdena, serif;
}

#corps h3 {
    margin : 0px;
/*  margin-bottom : 200px*/
    text-align : left;
    font-size : 1.0em;
    font-family:  verdena, serif;
}

.img_left {
    float: right;
    margin-left : 15px;
}


#bottom {
    clear : both;
    font-size : 0.7em;
    font-style: italic;
    text-align : center;
    font-family: "Lucinda Callygraphy", verdena, serif;

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow:0 0 15px #aaa;
    -webkit-box-shadow:0 0 15px #aaa;

    border : 1px solid rgb(108,160,26);
    background-color : rgb(218,255,109);
    padding : 10px;
    margin : 15px;


}


.bold {
    font-weight : bold;
}



.important {

    border : 1px solid rgb(160,108,26);
    background-color : rgb(255,218,109);
    padding : 10px;
    margin : 15px;

}

.subblock {
    -moz-box-shadow:0 0 15px rgb(118,170,36);
    -webkit-box-shadow:0 0 15px rgb(118,170,36);
     -moz-border-radius:10px;
    -webkit-border-radius:10px;

    
    
    padding : 5px;
    margin : 10px;
}


pdoc {
    
    -moz-box-shadow:0 0 15px rgb(217,235,149);
    -webkit-box-shadow:0 0 15px rgb(217,235,149);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-column-width:300px;

    padding : 10px;
    margin : 10px;
}

table {
    font-size: 0.9em;
    text-align: center;
    border: 1px solid rgb(207,255,129);
    border-spacing: 0;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: rgb(187,235,109);
}

th {
    color: rgb(0,50,0);
    font-size: 110%;
    text-shadow: rgb(107,155,029) 2px 2px 2px
}

th:first-of-type {
font-weight: bold;
font-style: italic
}

tr {
    text-align: left;
}

td {
    padding:  5px 5px 5px 25px;
}

tr:nth-child(odd) {
    color: black;
    background: rgb(207,255,129);
}

tr:nth-child(even) {
    color: black;
    
}

